<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src='vue.js'></script>
	</head>
	<body>
		<div id='app'>
		<select v-model='occupation' multiple>
			<option value='0'>请选择职业</option>
			<option value='1'>教师</option>
			<option value='2'>软件工程师</option>
			<option value='3'>律师</option>
		</select>
		
		<textarea v-model='desc'></textarea>
		{{desc}}
		<br>
		<span v-for = 'oc in occupation'>
			{{oc}}
		</span>
		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					occupation: ['2','3'],
					desc: 'nihao'
				}
			});
		</script>
	</body>
</html>
